---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - krkn.krkn-chaos.dev
  resources:
  - krknoperatortargetproviderconfigs
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - krkn.krkn-chaos.dev
  resources:
  - krknoperatortargetproviderconfigs/status
  - krknoperatortargetproviders/status
  - krknoperatortargets/status
  - krknscenarioruns/status
  - krkntargetrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - krkn.krkn-chaos.dev
  resources:
  - krknoperatortargetproviders
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - krkn.krkn-chaos.dev
  resources:
  - krknoperatortargets
  - krknscenarioruns
  - krkntargetrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - krkn.krkn-chaos.dev
  resources:
  - krknscenarioruns/finalizers
  verbs:
  - update
